/* CSS Variable */
:root {
  --primary: #002D4B; /* AZUL - CASSI */
  --secundary: #FCFC1B; /* AMARELO - CASSI */
  --background: #FFF; /* BACKGROUND */
  --light-grey: #D9D9D9; /* BORDER */
  --grey: #969696; /* TEXTO FORMULÁRIO */
  --dark-grey: #747876; /* BREADCRUMB */
  --text: #2D2D2D; /* TEXTOS */ 
  --text-white: #FFF; /* TEXTOS CLAROS */ 
  --questions: #F9F9F9; /* QUESTÕES */ 
}

/* Estilos importantes para todas as páginas */

body {
  margin: 0;
  background:  var(--background);
  color: var(--text);
}

body, input, textarea, button {
  font: 400 1rem Arial, sans-serif !important;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
}

.container {
  padding: 60px 156px;
}
